html, body, h1, img, dl, dt, a, p {margin:0px; }

body {width:100%; height:100%; font-family: AvenirLight, HelveticaBN, Arial, sans-serif; }

.container{
   width:100%;
    height:100%;
    background-color: rgb(34, 37, 42);
   position: absolute;
   display: -webkit-flex;
   -webkit-flex-direction: row;
   -moz-flex-direction: row;
   display: flex;
   flex-direction: column;
}

.banner{
    padding-top:80px;
    padding-bottom:80px;
    text-align:center;
    background-color:#9d91c1;
    color:white;
}

.bannerText{
    font-size:44px;

}

.container h1{
    width:100%;
    text-align:center;
    font-size:40px;
    padding-top:5%;
    padding-bottom:5%;
    color:#9d91c1;
}

.button a{
    /*color:white;*/
    text-align:center;
    margin-left: 1%;
    font-size:30px;
}

.user{
    margin-left:45.5%;
    margin-top:36%;
}

.hobby1{
  margin-left:28%;
  color: rgb(255,86,86);
}
.hobby2{
  margin-left:28%;
  color: rgb(80,239,224);
}
.hobby3{
  margin-left:18%;
  color: rgb(13,238,102);
}
.hobby4{
  margin-left:28%;
  color: rgb(255,86,86);
}
.hobby5{
  margin-left:25%;
  color: rgb(80,239,224)
}
.hobby6{
  margin-left:25%;
  color: rgb(13,238,102);
}
.hobby7{
  margin-left:25%;
  color: rgb(80,239,224);
}

.button{
   -webkit-border-radius: 100%;
     -moz- border-radius: 100%;
    border-radius: 100%;
    width:250px;
    height:250px;
    -webkit-user-select:none;
   cursor: pointer;
   flex: 1 1 auto;
   min-height: 100px;
   align-items: center;
   justify-content: center;
   display: flex;
}

.color1 .button:visited {
   background-color: rgb(255, 174, 0); 
}

.color1:active {
   background-color: rgb(255,86,86);
   -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
           transform: translateY(10px);
}

.color2:active {
   background-color: rgb(80,239,224);
   -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
           transform: translateY(10px);
}

.color3:active {
   background-color: rgb(13,238,102);
   -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
           transform: translateY(10px);
}

.button:active .hobby1{
  
  color: white;
}
.button:active .hobby2{
  
  color: white;
}
.button:active .hobby3{
  
  color: white;
}
.button:active .hobby4{

 color: white;
}
.button:active .hobby5{
 
 color: white;
}
.button:active .hobby6{
 
 color: white;
}
.button:active .hobby7{
 
 color: white;
}

.color1{
    border:solid 4px rgb(255,86,86);
    padding: 5px;
     background:rgb(34, 37, 42);
}

.color2{
    border:solid 4px rgb(80,239,224);
    background:rgb(34, 37, 42);
}

.color3{
    border:solid 4px rgb(13,238,102);
    background: rgb(34, 37, 42);
}

.position1{
    margin-left:37.5%;
    margin-top:5%;
    position:absolute;
}

.position2{
    margin-left:15%;
    margin-top:23%;
    position:absolute;
}

.position3{
    margin-left:60%;
    margin-top:23%;
    position:absolute;
}

.position4{
    margin-left:24%;
    margin-top:50%;
    position:absolute;
}

.position5{
    margin-left:52%;
    margin-top:50%;
    position:absolute;
}
.position6{
    margin-left:11%;
    margin-top:-5%;
    position:absolute;
}
.position7{
    margin-left:67%;
    margin-top:-5%;
    position:absolute;
}
