html, body, h1, img, dl, dt, a, p {margin:0px; }

body { width:140% ;font-family: AvenirLight, HelveticaBN, Arial, sans-serif; background: rgb(34, 37, 42);}

.container{
   width:100%;
    height:100%;
    background-color: none;
    border: none;
   position: absolute;
   display: -webkit-flex;
   -webkit-flex-direction: row;
   -moz-flex-direction: row;
   display: flex;
   flex-direction: column;
}



.container h1{
    float: center;
    position: fixed;
    text-align:center;
    font-size:60px;
    padding-top:10%;
    padding-bottom:0%;
    width: 100%;
    padding-right: auto;
    color:white;
    z-index: 1;
}
.container h3{
  float: center;
  position: fixed;
    width:100%;
    text-align:center;
    font-size:30px;
    padding-top:15%;
    padding-bottom:5%;
    color:rgb(74, 77, 82);
    z-index: 1;
}

.button a{
    /*color:white;*/
    text-align:center;
    margin-left: 1%;
    font-size:30px;
}

.user{
    margin-left:58.5%;
    margin-top:70%;
}

.hobby1{
  margin-left:28%;
  color: rgb(255,86,86);
}
.hobby2{
  margin-left:28%;
  color: rgb(80,239,224);
}
.hobby3{
  margin-left:18%;
  color: rgb(13,238,102);
}
.hobby4{
  margin-left:28%;
  color: rgb(255,86,86);
}
.hobby5{
  margin-left:25%;
  color: rgb(80,239,224)
}
.hobby6{
  margin-left:25%;
  color: rgb(13,238,102);
}
.hobby7{
  margin-left:25%;
  color: rgb(80,239,224);
}
.hobby8{
  margin-left:25%;
  color: rgb(255,86,86);
}
.hobby9{
  margin-left:25%;
  color: rgb(80,239,224);
}
.hobby10{
  margin-left:25%;
  color: rgb(13,238,102);
}
.hobby11{
  margin-left:25%;
  color: rgb(255,86,86);
}
.hobby12{
  margin-left:25%;
  color: rgb(13,238,102);
}
.hobby13{
  margin-left:25%;
  color: rgb(80,239,224);
}
.hobby14{
  margin-left:25%;
  color: rgb(255,86,86);
}
.button{
   -webkit-border-radius: 100%;
     -moz- border-radius: 100%;
    border-radius: 100%;
    width:250px;
    height:250px;
    -webkit-user-select:none;
   cursor: pointer;
   flex: 1 1 auto;
   min-height: 100px;
   align-items: center;
   justify-content: center;
   display: flex;
}

.color1 .button:visited {
   background-color: rgb(255, 174, 0); 
}

.color1:active {
   background-color: rgb(255,86,86);
   -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
           transform: translateY(10px);
}

.color2:active {
   background-color: rgb(80,239,224);
   -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
           transform: translateY(10px);
}

.color3:active {
   background-color: rgb(13,238,102);
   -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
           transform: translateY(10px);
}

.button:active .hobby1{
  
  color: white;
}
.button:active .hobby2{
  
  color: white;
}
.button:active .hobby3{
  
  color: white;
}
.button:active .hobby4{

 color: white;
}
.button:active .hobby5{
 
 color: white;
}
.button:active .hobby6{
 
 color: white;
}
.button:active .hobby7{
 
 color: white;
}
.button:active .hobby8{
 
 color: white;
}
.button:active .hobby9{
 
 color: white;
}
.button:active .hobby10{
 
 color: white;
}
.button:active .hobby11{
 
 color: white;
}
.button:active .hobby12{
 
 color: white;
}
.button:active .hobby13{
 
 color: white;
}
.button:active .hobby14{
 
 color: white;
}
.color1{
    border:solid 4px rgb(255,86,86);
    padding: 5px;
     background:rgb(34, 37, 42);
}

.color2{
    border:solid 4px rgb(80,239,224);
    background:rgb(34, 37, 42);
}

.color3{
    border:solid 4px rgb(13,238,102);
    background: rgb(34, 37, 42);
}

.position1{
    margin-left:52.5%;
    margin-top:40%;
    position:absolute;
}

.position2{
    margin-left:30%;
    margin-top:57%;
    position:absolute;
}

.position3{
    margin-left:75%;
    margin-top:57%;
    position:absolute;
}

.position4{
    margin-left:39%;
    margin-top:85%;
    position:absolute;
}

.position5{
    margin-left:67%;
    margin-top:85%;
    position:absolute;
}
.position6{
    margin-left:27%;
    margin-top:30%;
    position:absolute;
}
.position7{
    margin-left:80%;
    margin-top:30%;
    position:absolute;
}
.position8{
    margin-left:11%;
    margin-top:79%;
    position:absolute;
}
.position9{
    margin-left:95%;
    margin-top:79%;
    position:absolute;
}
.position10{
    margin-left:52%;
    margin-top:110%;
    position:absolute;
}
.position11{
    margin-left:2%;
    margin-top:49%;
    position:absolute;
}
.position12{
    margin-left:21%;
    margin-top:109%;
    position:absolute;
}
.position13{
    margin-left:84%;
    margin-top:109%;
    position:absolute;
}
.position14{
    margin-left:104%;
    margin-top:49%;
    position:absolute;
}
